{{> navBar route ='forgot'}}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Check your mail box!</h4>
  <p> Kindly follow the link sent to your email to reset your password within the next 30 minutes. Please take note of your new password as it cannot be changed again within 24 hours after the previous modification.
  </p>
  
</div>