{{> navBar route ='forgot'}}

<div class='card mx-auto' style='width: 25rem; border:none; margin-top:5%'>
  <h1 class=' mx-auto'>Forgot Password</h1>
  <div class='card-body'>
    <form action="/passwordReset" method="POST">
      <div class='mb-3'>
        <label for='email' class='form-label'>Email</label>
        <input type='email' name='email' class='form-control' id='email' aria-describedby='emailHelp'
          placeholder="Enter Email" />
      </div>
      <button type='submit' class='btn btn-primary d-block mx-auto mt-2' style="width: 23rem;">send Email</button>
    </form>
    <p class="lead mt-2" style="width: 20rem;">
        No Account? <a href="/register">Register</a>
        <br>
        Have An Account? <a href="/login">Login</a>
    </p>
  </div>
</div>