{{> navBar route ='register'}}
<div class='card mx-auto' style='width: 25rem; border:none; margin-top:5%'>
  <h1 class=' mx-auto'>Reset Password</h1>
  {{!-- {{> message}} --}}
  <div class='card-body'>
    <form action="/resetPassword/{{token}}" method="POST" class='register'>
      <div class='mb-1'>
        <label for='password' class='form-label'>Password</label>
        <input type='password' name='password' class='form-control' id='password'
          placeholder="Enter Password" value="{{password}}" />
      </div>

      <div class="mb-3">
        <label for="confirmPassword" class="mb-2">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
          placeholder="Confirm Password" value="{{comfirmPassword}}">
      </div>
      <button type='submit' class='btn btn-primary d-block mx-auto mt-3 ' style="width: 16rem;">Submit</button>
    
    </form>
    {{!-- <p class="lead mt-4">
      Have An Account? <a href="/login">Login</a>
    </p> --}}
  </div>
</div>