{{> navBar route ='login'}}
<div class='card mx-auto' style='width: 18rem; border:none; margin-top:5%'>
  <h1 class=' mx-auto'>Login</h1>
  {{!-- {{> message}} --}}
  <div class='card-body'>
    <form action="/login" method="POST">
      <div class='mb-3'>
        <label for='email' class='form-label'>Email</label>
        <input type='email' name='email' class='form-control' id='email' aria-describedby='emailHelp'
          placeholder="Enter Email" />
      </div>
      <div class='mb-1'>
        <label for='password' class='form-label'>Password</label>
        <input type='password' name='password' class='form-control' id='password' placeholder="Enter Password" />
      </div>
      <div class='text-danger'>{{note}}</div>
      

      <button type='submit' class='btn btn-primary d-block mx-auto mt-3' style="width: 16rem;">Local Login</button>
      <a href="/auth/facebook" class="btn btn-info btn-block mt-3 mx-auto d-block" style="width: 16rem;">Facebook Login</a>
      <a href="/auth/google" class="btn btn-danger btn-block mt-3 mx-auto d-block" style="width: 16rem;">Google Login</a>
    </form>
    <p class="lead mt-4">
        No Account? <a href="/register">Register</a>
    </p>
    

  </div>
</div>