<form action='/test' method='GET'>
	<input type='text' name='test1' />
	<input type='text' name='test2' />
	<input type='text' name='test3' />
	<input type='text' name='test4' />
	<button>送出</button>
</form>